<div class="row">
  <div class="col-xs-10 col-xs-offset-2 ">
    <div id="label-wrapper">
      <span id="date-label">{{ dateInfo.date | date }}</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 no-horiz-padding">
    <span class="pull-right">{{ dateInfo.startDate | date }}</span>
  </div>
  <div class="col-xs-8">
    <input id="date-picker" type="range" min="0" max="{{ dateInfo.numSteps }}" step="1"  ng-model="dateStep">
  </div>
  <div class="col-xs-2 no-horiz-padding">
    <span class="pull-left">{{ dateInfo.endDate | date }}</span>
  </div>
</div>
