<div class="row">
  <div class="col-xs-12">
    <div class="pull-left">
      <h3 class="text-left">Stocks</h3>
      <p>{{ dateInfo.date | date }}</p>
    </div>
    <form class="form form-inline pull-right top-margin">
      <div class="form-group">
        <label for="">Filter: </label>
        <select class="filterBy" name="filterBy">
          <option value=""> </option>
        </select>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <scrollable-table watch="stocks">
      <table class="table table-striped">
        <thead>
          <th>Symbol</th>
          <th>Price</th>
          <th>1d</th>
          <th>7d</th>
          <th>30d</th>
          <th>Trade?</th>
        </thead>
        <tbody>
          <tr stock-data-row ng-repeat="stock in stocks | filter:{ Date: dateInfo.date.toISOString().substring(0,10) }:strict"
              stock="stock"></tr>
        </tbody>
      </table>
    </scrollable-table>
  </div>
</div>
