<div class="row">
  <div class="col-xs-12">
    <div class="pull-left">
      <h3 class="text-left">Stocks</h3>
      <p>{{ dateInfo.date | date }}</p>
    </div>
    <form class="form form-inline pull-right top-margin">
      <div class="form-group">
        <label for="">Filter: </label>
        <input type="text" ng-model="symbolFilter">
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <scrollable-table watch="stocks">
      <table class="table table-striped">
        <thead>
          <th><a href="#" ng-click="property = property == '-Symbol' ? 'Symbol' : '-Symbol'">Symbol</a></th>
          <th>Price</th>
          <th>1d</th>
          <th>7d</th>
          <th>30d</th>
          <th>Trade?</th>
        </thead>
        <tbody>
          <!-- TODO: SHOW PRIOR DATES WHEN THERE ARE NO RESULTS -->
          <tr stock-data-row ng-repeat="stock in stocks | accessDateArray:dateInfo.date | filter:{ Symbol: symbolFilter } | orderBy:property"
              stock="stock"></tr>
        </tbody>
      </table>
    </scrollable-table>
  </div>
</div>
