<div id="trade-panel">
  <div class="flash ">

  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-left">
        <h3 class="text-left">Trade</h3>
      </div>
      <form class="form form-inline pull-right top-margin">
        <div class="form-group">
          <select ng-model="state" ng-change="goToState(state)">
            <option value="index.trade">Trade</option>
            <option value="index.transactions">Transactions</option>
            <option value="index.portfolio">Portfolio</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <form class="form" name="tradeForm">
        <p>
          <span class="title-col text-left">Symbol</span>
          {{ stock.Symbol }}
        </p>
        <p>
          <span class="title-col text-left">Buy/Sell</span>
          <select ng-model="type">
            <option value="buy">Buy</option>
            <option value="sell">Sell</option>
          </select>
        </p>
        <p>
          <span class="title-col text-left">Quantity</span>
          <input type="number" min="1" ng-model="quantity" value="1">
        </p>
        <p>
          <span class="title-col text-left">Date</span>
          {{ stock.Date | date }}
        </p>
        <p>
          <span class="title-col text-left">Price</span>
          {{ stock.Close | currency }}
        </p>
        <p>
          <span class="title-col text-left">Cost</span>
          {{ stock.Close * quantity | currency }}
        </p>

        <button class="btn btn-primary" ng-disabled="!valid(tradeForm)" ng-click="placeOrder()">Place Order!</button>
      </form>
    </div>
    <div class="col-sm-6">
      <span class="title-col text-left">Cash Available</span>
      <p>{{ balance | currency }}</p>
      <span class="title-col text-left">Quantity Owned</span>
      <br>(Bought before {{ stock.Date | date }})
      <p>{{ numOwned }}</p>
      <span class="title-col text-left">Order Status</span>
      <p ng-show="valid(tradeForm)" style="color:green;">VALID</p>
      <p ng-show="!valid(tradeForm)"style="color:red;">INVALID</p>
    </div>
  </div>
</div>
