<div id="transaction-panel">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-left">
        <h3 class="text-left">Transactions</h3>
      </div>
      <form class="form form-inline pull-right top-margin">
        <div class="form-group">
          <select ng-model="state" ng-change="goToState(state)">
            <option value="index.trade">Trade</option>
            <option value="index.transactions">Transactions</option>
            <option value="index.portfolio">Portfolio</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <scrollable-table watch="stocks">
        <table class="table table-striped">
          <thead>
            <th><a href="#" ng-click="property = property == '-Date' ? 'Date' : '-Date'">Date</a></th>
            <th><a href="#" ng-click="property = property == '-Symbol' ? 'Symbol' : '-Symbol'">Symbol</a></th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Price</th>
          </thead>
          <tbody>
            <tr transaction-data-row ng-repeat="trans in transactions | buildArrayUpToDate:dateInfo.startDate:dateInfo.date | orderBy:property"
                transaction="trans"></tr>
          </tbody>
        </table>
      </scrollable-table>
    </div>
  </div>
</div>
