// GENERAL
.no-horiz-padding {
  padding-left: 0;
  padding-right: 0;
}

.top-margin {
  margin-top: 25px;
}


/*MAIN LAYOUT*/

#main-nav {
  border-radius: 0;
}

// DATE PICKER
#date-picker {
  display: inline-block;
  padding: 0;
}

#label-wrapper {
  position: relative;
  height: 25px;
  #date-label {
    position: absolute;
    left: 0;
    color: green;
    font-weight: bolder;
    font-size: 1em;
  }
}

// STOCK PANEL
#stock-panel {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 10px;
}

// TRADE PANEL
#trade-panel {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  padding-top: 0;
  .title-col {
    display: inline-block;
    font-weight: bolder;
    width: 120px;
  }
}
